/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}


ul{
    list-style-type: none;
}
li{
    display: inline;
    margin-right: 20px;
}


.overview-hero-text{
    text-align: left;
}
.learn-about .cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding-bottom: 50px;
}
header .container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 20px 0; 
}

.overview-hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center; 
    gap: 20px; 
    padding-bottom: 50px;
}

.testing .container {
    display: grid;
    grid-template-columns: auto auto; 
    align-items: center; 
    gap: 40px; 
    padding: 50px;
}

article{
    display: grid;
    grid-template-columns: auto auto; 
    align-items: center; 
    gap: 40px; 
    padding-bottom: 50px;
}

.article-body {
    grid-column: 2/3;
}

.stories img{
    border-radius: 25%;
}

.newsletter {
    align-items: center; 
    text-align: center; 
    padding: 50px; 
}
form{
    display: grid;
    grid-template-columns: auto auto;
}

.btn{
    width: 100px;
    padding: 5px;
}
#email{
    padding: 10px;
    width: 300px;
}